

.app-portrait{
    display: flex;
    flex-direction: row;
    background-color: beige;
    /* justify-content: center; */
}

.portrait-image-group{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    max-width: 800px;
}