
.container{
    display: flex;
    justify-content: space-between;
}

.sub-container{
    display: flex;
    height: var(--input-setting-height);
    padding-top: 4px;
    padding-bottom: 4px;
}

.header-container{
    background-color: black;
    flex-grow: 1;
    padding-left: var(--input-sub-header-padding-left);
    min-width: var(--input-sub-header-min-width);
}

.header{
    font-size: var(--input-sub-header-font-size);
    font-weight: var(--input-sub-header-font-weight);
    color: white;
}

.button-group{
    background-color: black;
    display:flex;
    flex: 4;
    align-items: center;
    padding-right: 6px;
}

button{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    font-size: medium;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    border: 0px solid black;
    transition-duration: 0.4s;
    outline: none;
    cursor: pointer;
}

.selected{
    background-color: var(--input-default-color);
    color:white;
}

.unselected{
    background-color: white;
    color:black;
}
  
.unselected:hover {
    background-color: var(--input-default-color);
    color:white;
}