:host{

}

.container{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    // flex:1;

}


.grid-container-active {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container-inactive {
    display: none;
}


.color-item{
    padding: 5px;
    text-align: left;
    text-overflow: ellipsis;
}