
.container{
    display: flex;
    justify-content: space-between;
}

.sub-container{
    display: flex;
    height: 24px;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header-container{
    background-color: black;
    flex: 1;
    padding-left: var(--input-sub-header-padding-left);
    min-width: var(--input-sub-header-min-width);
}

.value-container{
    background-color: black;
    flex: 1;
    justify-content: center;
}

.slider-container{
    background-color: black;
    flex:12;
    justify-content: center;
}

.header{
    font-size: var(--input-sub-header-font-size);
    font-weight: var(--input-sub-header-font-weight);
    color: white;
}

.value{
    width: 100%;
    border-radius: 0px;
    padding:0px;
    height: var(--input-setting-height);
    text-align: center;
    border: none;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: var(--input-setting-height); /* Specified height */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    width: 96%;
    margin:0px;
    
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width:var(--input-setting-height); /* Set a specific slider handle width */
    height:var(--input-setting-height); /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
    background-color: var(--input-default-color);
}