
.container{
    display: flex;
    justify-content: space-between;
}

.sub-container{
    display: flex;
    height: var(--input-setting-height);
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.header-container{
    background-color: black;
    flex-grow: 6;
    padding-left: var(--input-sub-header-padding-left);
    min-width: var(--input-sub-header-min-width);
}

.dropdown-container{
    background-color: black;
    display:flex;
    flex: 25;
    padding-right: 6px;
}

.header{
    font-size: var(--input-sub-header-font-size);
    font-weight: var(--input-sub-header-font-weight);
    color: white;
}

.dropbtn {
    display:flex;
    flex: 1;
    height: var(--input-setting-height);
    align-items: center;
    justify-content: center;
    background-color: var(--input-default-color);
    color: white;
    font-size: var(--input-sub-header-font-size);
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: var(--input-default-color);
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: var(--input-sub-header-min-width);    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
      background-color: var(--input-default-color);
      color:white;
}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}